/* import of font family */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Montserrat:wght@200&family=Poppins:wght@200;300&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;

}

/* resize of text area of contact */
.resize {
    resize: none;
}

/* crollbar style */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 5px #808080;
}

::-webkit-scrollbar-thumb {
    background-color: #198754;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #115C39;
}

/* icon style */
@media screen and (max-width: 768px) {
    .visit-portfolio {
        padding: 0.6rem;
        font-size: 0.8rem;
        text-align: center;
    }
    .icons-social-media {
        width: 50%;
    }
} 
@media (max-width: 576px) {
    .my-margin-style {
        margin-top: 1rem;
    }
}

@media (min-width: 568px) {
    .my-margin-style {
        margin-top: 1rem;
    }
}
@media screen and (max-width: 425px) {
    .home {
        margin-left: 0.5rem;
    }
    .icons-social-media {
        width: 100%;
    }
    .my-skills {
        margin-left: auto;
    }
    .my-skills .pages {
        margin-bottom: 1rem;
    }
    .data {
        padding: 1rem 0.5rem 1rem 0.5rem;
    }
    .contacts {
        padding: 1rem 0.5rem 1rem 0.5rem;
    }
    .freelancer .freelancer-text p, h2 {
        text-align: center !important;
        font-size: 0.5rem;
        margin-right: 1rem;
    }
    .freelancer .freelancer-text h2 {
        font-size: 0.1rem;
    }
}